
 {% extends 'base/index.html' %}

 {% block content %}
 {% load static %}
    <div class="content-panel">
    {% for c in customers %}
   <form class="cmxform form-horizontal style-form" id="signupForm" method="post" action="{% url 'customer_editItem' pk=c.id %}">
      {% csrf_token %}
                  <div class="form-group ">
                    <label for="name" class="control-label col-lg-2">Name</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="name" name="name" type="text" value="{{c.name}}">
                    </div>
                  </div>



                  <div class="form-group ">
                  <label for="status" class="control-label col-lg-2">Status</label>
                   <div class="col-lg-10">
                   <select class="form-control" name="status">
                  <option value="Active">Active</option>
                  <option value="DeActive">De-Active</option>
                 
                    </select>
                    </div>
                  </div>
                

                <div class="form-group ">
                  <label for="status" class="control-label col-lg-2">Membership</label>
                   <div class="col-lg-10">
                   
                   <select class="form-control" name="membership">
                   {% for m in edit_membership %}
                  <option value="{{ m.id}}">{{ m.title }}</option>
                 {% endfor %}
                    </select>
                    
                    </div>
                  </div>


                 <div class="form-group">
                   <label for="address" class="control-label col-lg-2">Address</label>
                 <div class="col-lg-10">
                <textarea class="form-control" name="address" id="contact-message" placeholder="Address" rows="5" data-rule="required" data-msg="Please write something for us">{{c.address}}</textarea>
                </div>
                <div class="validate"></div>
                </div>


                   <div class="form-group ">
                    <label for="number" class="control-label col-lg-2">Number</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="name" name="phone" type="text" value="{{c.phone}}">
                    </div>
                  </div>



               
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit">Save</button>
                      <button class="btn btn-theme04" type="button">Cancel</button>
                    </div>
                  </div>
                </form>
                {% endfor %}
                
        </div>

   {% endblock %}