 {% extends 'base/index.html' %}

 {% block content %}
 {% load static %}
  
<div class="content-panel">
  
   <form class="cmxform form-horizontal style-form" id="signupForm" method="post" action="{% url 'addMembership_item'%}">
      {% csrf_token %}
                  <div class="form-group ">
                    <label for="title" class="control-label col-lg-2">Title</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="name" name="title" type="text" >
                    </div>
                  </div>
                

                <div class="form-group ">
                  <label for="status" class="control-label col-lg-2">Membership</label>
                   <div class="col-lg-10">
                   
                   <select class="form-control" name="membership">
                  
                  <option value="regular">Regular</option>
                  <option value="pt">PT</option>
                    </select>
                    
                    </div>
                  </div>


                 <div class="form-group ">
                    <label for="price" class="control-label col-lg-2">Price</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="name" name="price" type="number" >
                    </div>
                  </div>


                   <div class="form-group ">
                    <label for="duration" class="control-label col-lg-2">Duration</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="name" name="duration" type="number" >
                    </div>
                  </div>



               
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit">Save</button>
                      <button class="btn btn-theme04" type="button">Cancel</button>
                    </div>
                  </div>
                </form>
               
                
        </div>









  {% endblock %}